<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Donation</title>
    </head>
<body>
    <div class="container">
        <form action="/create/pn" method="POST">
            <input type="text" name="name" placeholder="이름"><br>
            <input type="text" name="birthday" placeholder="생년월일"><br>
            <input type="text" name="address" placeholder="주소"><br>
            <input type="text" name="phoneNumber" placeholder="폰번호"><br>
            <input type="text" name="registTime" placeholder="등록일"><br>
            <input type="text" name="registNumber" placeholder="등록번호"><br>
            <button type="submit">확인</button>
        </form>
    </div>
</body>
</html>